# Discord Bot
DISCORD_BOT_TOKEN=your_bot_token_here
CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here
REDIRECT_URI=http://localhost:3000/auth/discord/callback

# Application
DASHBOARD_URL=http://localhost:3000
ADMIN_USER_ID=your_admin_discord_id_here
SESSION_SECRET=7104b21f8e6e2f873256d76ced5c99448c96262e192bd9ed9422fe3b3851ac8d

# SMS Webhook (for auto recharge)
SMS_WEBHOOK_URL=https://discord.com/api/webhooks/your_webhook_url
